obj/
lib/
bin/examples/find_compositor/find_compositor
bin/examples/hdante_hello_world/hdante_hello_world
bin/xml_parser/xml_parser
bin/all_executables-loc.xml
bin/gnatinspect.db
bin/gpsauto.cgpr
bin/xml_parser/wayland-*.ads
bin/xml_parser/wayland-*.adb
bin/gnutls_examples/simple_client_example_with_X509_certificate_support/start
bin/gnutls_examples/echo_server_with_X509_authentication/simple_server
bin/gnutls_examples/simple_client_example_with_X509_certificate_support/simple_client

cert.pem
key.pem
crl.der
