obj/
bin/examples/connect_to_server/connect_to_server
bin/examples/find_compositor/find_compositor
bin/examples/hdante_hello_world/hdante_hello_world
lib/
bin/xml_parser/xml_parser
bin/all_executables-loc.xml
bin/gnatinspect.db
bin/gpsauto.cgpr
bin/xml_parser/c_binding-linux-wayland_client.adb
bin/xml_parser/c_binding-linux-wayland_client.ads
bin/gnutls_examples/simple_client_example_with_X509_certificate_support/start
