obj/
bin/examples/connect_to_server/connect_to_server
bin/examples/find_compositor/find_compositor
bin/examples/hdante_hello_world/hdante_hello_world
lib/
bin/xml_parser/xml_parser
bin/all_executables-loc.xml
bin/gnatinspect.db
bin/gpsauto.cgpr
bin/xml_parser/posix-wayland.adb
bin/xml_parser/posix-wayland.ads
